* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chivo', sans-serif;
    /* overflow: hidden; */

}

html {
    /* background: rgb(171, 171, 235); */
    scroll-behavior: smooth;
}


nav {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    background: white;
}

#logo a{
    color: red;
    font-weight: bolder;
    font-size: 25px;
    margin-left: 25px;
    text-decoration: none;
}

#navItems {
    display: flex;
    list-style-type: none;
}

#navItems li a {
    text-decoration: none;
    font-size: 15px;
    color: black;
    margin: 0px 15px;
    padding: 0 2px 3vh;
    /* border-bottom: 3px solid white; */
}

#navItems li a:hover {
    border-bottom: 3px solid red;
    border-radius: 3px;
    color: red;
    transition: all .3s ease-in;
}

.hamburger {
    display: none;
    cursor: pointer;
    margin-right: 10px;
}

.bar {
    display: block;
    width: 27px;
    height: 4px;
    background: red;
    margin: 4px;
    transition: all .5s ease-in-out;
}

#banner {
    height: 100vh;
    width: 100%;
    /* overflow: hidden; */
    position: relative;
    min-height: 400px;
    /* background-image: url(img/banner3.jpg); */
    /* background-size: 100% 100%; */
    /* display: flex; */
}

#banner img{
    position: absolute;
    /* left: -100%; */
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}


#banner .active {
    display: block;
    opacity: 1;
    transition: all 1s ease-in-out;
}

.booking-portal{
    display: flex;    
    text-align: center;
}

.set-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 38vh;
    left: 10vw;
    flex-direction: column;
    background: rgba(8, 8, 8, 0.7);
    padding: 30px 60px;
    height: auto;
    border-left: 3px solid red;
}


.booking-portal h3{
    font-size: 25px;
    font-weight: lighter;
    text-transform: uppercase;
    border: none;
    word-spacing: 7px;
    letter-spacing: .5px;
}

.date{
    width: 100%;
    /* background: #000; */
    display: flex;
    flex-direction: column;
    align-items: start;
    text-transform: uppercase;
}

.date input[type="date"]{
    width: 100%;
    height: 35px;
    margin: 10px 0;
}

.booking-portal button{
    border-radius: 3px;
    margin-top: 15px;
    background: red;
}

.booking-portal button:hover{
    background: #000;
    color: red;
}

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

#about-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vw;
    height: 50vh;
    padding-right: 5vw;
}

h1 {
    font-size: 43px;

}

h1::before {
    position: absolute;
    content: "";
    background-color: #ff0909;
    width: 20px;
    height: 4px;
    transform: rotate(-36deg);
}

h1::after {
    position: absolute;
    content: "";
    background-color: #ff0909;
    width: 20px;
    height: 4px;
    margin-top: 35px;
    transform: rotate(-36deg);
}

#about-box p {
    color: grey;
    font-size: 16px;
    line-height: 27px;
    margin: 15px 0;
}

#booked-btn {
    color: white;
    background: #000;
    border-radius: 11px;
    width: 130px;
    height: 40px;
    font-size: 18px;
    border: none;
}

#booked-btn:hover {
    background: red;
    color: white;
}

#booked-btn.active{
    background: green;
    color: white;
    width: auto;
    font-size: 12px;
    padding: 0 7px;
    transition: all 0s ease-in;
}

.display{
    width: 100%;
    position: sticky;
    top: 0px;
    background: green;
    text-align: center;
    z-index: 100;
    font-size: 13px;
    color: white;
}

#about-img {
    height: 60vh;
    width: 50vw;
    overflow: hidden;
    min-height: 225px;
}

#about-img img {
    min-height: 225px;
    height: 60vh;
    width: 50vw;
    transition: all 0.5s ease-in;
}

#about-img img:hover {
    transform: scale(1.2);
    transition: all 0.5s ease-in;
}

#ourRoom,
#contactUs {
    background: rgb(243, 241, 241);
    padding: 5vh 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5vw;
}

.box {
    /* background: #000; */
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: center;
}

.boxes {
    width: 27vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.5vw;
    background: white;
}

.boxes:hover {
    transition: all 0.5s ease;
    box-shadow: 2px 2px 10px pink;
}

#ourRoom .container p {
    color: #000;
}

.room-img {
    overflow: hidden;
    width: 27vw;
    height: 15vw;
    min-height: 225px;
}

.boxes img {
    width: 27vw;
    transition: all 0.5s ease-in;
    min-height: 225px;
}

.boxes img:hover {
    transform: scale(1.2);
    transition: all 0.5s ease-in;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
    /* justify-content: center; */
}

#ourRoom .content p,
.content p {
    margin-top: 2vh;
    text-align: center;
    color: grey;
}

#images {
    display: flex;
    align-items: center;
    justify-content: center;
}

#gallery {
    padding: 5vh 0;
}

.gallery1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 90vw;
}

.art-box {
    width: 25vw;
    height: 15vw;
    /* height: 22vw; */
    overflow: hidden;
    margin: 2vh 1vw;
    min-height: 225px;
}

.art-box img {
    min-height: 225px;
    width: 25vw;
    height: 33vh;
    transition: all 0.5s ease-in;
}

.art-box img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in;
}

#blog {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 5vh 0;
    background-image: url(img/banner3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background: blur(200px);
    /* position: relative; */
}

#blog h1,
p {
    color: white;
}

#contactUs {
    background: white;
}

#contact-box {
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    padding: 7vh 0;
}

#map iframe {
    height: 60vh;
    width: 45vw;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    width: 40vw;
    height: 7vh;
    box-shadow: 1px 1px 10px pink;
    border: none;
    padding: 15px;
    font-size: 18px;
    margin-bottom: 3vh;
}

input:focus,
textarea:focus {
    outline: none;
    /* background: #000; */
}

textarea {
    width: 40vw;
    height: 30vh;
    box-shadow: 1px 1px 10px pink;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    resize: none;

}

button{
    color: white;
    background: #000;
    border-radius: 11px;
    width: 130px;
    height: 40px;
    font-size: 18px;
    border: none;
}

button:hover{
    background: red;
    color: white;
    transition: all 0.5s ease-in;
}
#user-details button {
    margin-top: 7vh;
}

footer {
    background: #000;
    border-bottom: 3px solid red;
}

#columns {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    width: 100%;
    padding: 5vw 10vw;
}

h3 {
    color: white;
    font-size: 20px;
    border-bottom: 3px solid red;
    padding-bottom: 3px;
    margin-bottom: 13px;
    display: inline-block;
    width: fit-content;
}

#contact-details p {
    font-size: 14px;
    line-height: 25px;
}

#contact-details p i {
    margin-right: 7px;
}

#navItems-2 li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: all .5s ease;
}

#navItems-2 li a:hover {
    color: red;
    transition: all .5s ease;
}

#column-3 {
    display: flex;
    flex-direction: column;
}

#column-3 input {
    box-shadow: none;
    width: 30vw;
}

#column-3 button {
    background: white;
    border-radius: 0px;
    color: red;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
}

#column-3 button:hover {
    background: red;
    color: white;
    transition: all .5s ease;
}

#column-3 p i {
    font-size: 30px;
    margin: 20px 15px 0 0;
    transition: all .5s ease;
}

#column-3 p i:hover {
    color: red;
    transition: all .5s ease;
}

#copyright-section {
    background: white;
    text-align: center;
    /* justify-content: center;
    justify-items: center;
    align-items: center; */
    padding: 7vh 0;
    border-top: 3px solid red;
}

#copyright-section p {
    color: black;
    margin-top: 1vh;
}